<div style="
height: 460px;
box-shadow: 1px 3px #ebebeb" class="border border-light">

    <!--shopping cart and price-->
    <div style="display: flex;
    height: 40px;
    width: 100%;
    box-shadow: 1px 3px #ebebeb" class="border border-light" >
        <p style="font-size: medium; 
        color: rgb(51, 0, 0);
        margin-left: 95px;
        margin-top: 7px;">Shopping Cart</p>
        <p style="font-size: medium; 
        color: rgb(51, 0, 0);
        margin-left: 865px;
        margin-top: 7px;">Price</p>  
     </div>  

    <!--Product card componnent-->
     <div style="height: 380px;
                 width: 100%;
                 box-shadow: 1px 3px #ebebeb" 
          class="border border-light"> 
        <app-product-card-component></app-product-card-component>
     </div>


     
    <!--Grand total
     <div style="display: flex;"> 

        <p style="font-size: medium; 
        color: rgb(51, 0, 0);
        margin-left: 875px;
        margin-top: 7px;">Grand Total</p>
        <p style="font-size: medium; 
        color: rgb(51, 0, 0);
        margin-left: 95px;
        margin-top: 7px;">10000</p> 
     </div>
     <h2>{{count}}</h2>
     -->

</div>